// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$curator-white: #fffcf2ff;
$curator-darkgrey: #888888;
$curator-black: #252422ff;
$curator-background: #1A1A1A;
$curator-card-background: #000000;
