.content-cube {
  aspect-ratio: 1 / 1.5   ;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  padding: 10px;
  overflow: hidden;

}
