.content-box {
  aspect-ratio: 1 / 1.5   ;
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: center;
  // padding: 2px;
  overflow: hidden;
  height: 100%;
  background-color: $curator-card-background;

}

.content-box img {
    width: 100%;
    flex-grow: 1;
    object-fit: cover;
}

.song-img {
  aspect-ratio: 1 / 1;
  width: 100%;
}

.song-img img {
  width: 100%;
    height: 100%;
    object-fit: cover;
}
.content-border{
  padding: 10px;
  border-color: $curator-darkgrey;
  border-radius: 8px;
  border-style: solid;
  background-color: $curator-card-background;
}

.search-container {
  padding-bottom: 220px;
    max-width: 500px;
    margin: 0 auto;
}

.song-title {
  display: flex;
  flex-direction:column;
}

.song-title h5 {
  color: $curator-white;
  font-size: 9px;
  justify-content: left;
}

.song-title p{
  color: $curator-white;
  font-size: 7px;
  font-style: normal;
  justify-content: center;
}
