#body{
  height: 100vh;
  border:solid, 1px, green;
  position: relative;
}
.recommendation_card{
  width: 95%;
  border: 1px solid #ccc;
  margin: 2%;
  }

.img_card{
  width: 90%;
  overflow: hidden;
  padding: 15px;
}
.img_card img{
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}
.stamp_wrapper{
  position: absolute;
  top: 10px;
  right: 5px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.stamp-img{
  position: absolute;
  border-radius: 50%;
  width: 100%;
}

.stamp_text {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.song_title{
  font-family: "Inika";
  font-weight: bold;
  font-size: 38px;
  padding: 10px;
}
.song_creator{
  font-family: "Inika";
  font-weight: normal;
  font-size: 16px;
  padding-left: 10px;
}

.explanation {
  border: solid,1px, $curator-golden;
}
