#body{
  // border:solid, 1px, green;
  color: $light-gray;
}

.recommendation_card {

}

.img_card {
  position: relative;
}
.img_card > img{
  width: auto;
  height: 300px;
  display: block;
  margin: 0 auto;
}
.stamp_wrapper{
  transform: rotate(-19.36deg);
  position: absolute;
  top: -34px;
  right: -31px;
  width: 122px;
  height: 122px;
  border-radius: 50%;
}
.stamp-img{
  position: absolute;
  border-radius: 50%;
  width: 100%;
}

.stamp_text {
  position: absolute;
  font-family: "Tilt Warp";
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 4.3px 4.3px rgba(0, 0, 0, 0.35);
}

.content-and-stamp {
 overflow-x: hidden;
 padding-top: 45px;
}

.match_score{
  margin-top: -18px;
  margin-left: 10px;
  margin-bottom: -15px;
  font-size: 52px;
  span{
    padding-left: 2px;
    font-size: 20px;
  }
}
.match_word{
  text-align: center;
}
.img_title{
  padding: 0 13px;
}

.song_title{
  font-family: "Inika";
  font-weight: bold;
  font-size: 40px;
  margin-top: 27px;
  margin-bottom: 10px;

}
.song_creator{
  font-family: "Inika";
  font-weight: normal;
  font-size: 16px;

}

.explanation {
 margin:24px 13px 0px;
 font-family: "Inika";
  font-weight: normal;
  font-size: 20px;
  line-height: 125%;
}

.small_based_on_img {
  width: 25vw;
  border-radius: 8px;
}

.based_on_each {
  background-color: black;
  border-radius: 16px;
  border: 1px solid #ccc;
  color: #ccc;
}

.btn-white-border {
  color: #ccc;
  background-color: black;
  border: 1px solid #ccc ;
  font-size: 16px;
  border-radius: 16px;
  width: 180px;
  height: 40px;
}

.gradient-scroll-indicator {
  height: 150px;
  width: 150vw;
  background: linear-gradient(180deg,rgba(26, 26, 26, 0) 1%, rgba(26, 26, 26, 1) 100%);
}

.btn-footer-container {
  background-color: $curator-background;
  width: 100vw;
}

.footer {
 width: 100vw;
}

.based_on {
  margin-bottom: 150px;
}
