#body{
  width: 100vw;
  // border:solid, 1px, green;
}
.recommendation_card{
// max-width: 800px ;
  width: 100%;
  border: 1px solid #ccc;
  background: $curator-charcoal;
  margin: 2%;
  }

.img_card{
  border:solid, 1px, red;
  width: 90%;
  overflow: hidden;
}
.img_card img{
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}
.stamp_wrapper{
  position: absolute;
  top: 10px;
  right: 5px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.stamp-img{
  position: absolute;
  border-radius: 50%;
  width: 100%;
}

.stamp_text {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.explanation {
  border: solid,1px, $curator-golden;
}

.small_based_on_img {
  width: 25vw;
  border-radius: 8px;
}

.based_on_each {
  background-color: black;
  border-radius: 16px;
  border: 1px solid #ccc;
  color: #ccc;
}

.btn-white-border {
  color: #ccc;
  background-color: black;
  border: 1px solid #ccc ;
  font-size: 16px;
  border-radius: 16px;
  width: 180px;
  height: 40px;
}

.gradient-scroll-indicator {
  height: 150px;
  width: 150vw;
  background: linear-gradient(180deg,rgba(26, 26, 26, 0) 1%, rgba(26, 26, 26, 1) 100%);
}

.btn-footer-container {
  background-color: $curator-background;
  width: 100vw;
}

.footer {
 width: 100vw;
}

.based_on {
  margin-bottom: 150px;
}
