#body{
  height: 100vh;
  position: relative;
  color: $light-gray;
}
.recommendation_card{
  padding-top: 45px;
  outline: solid 1px red;
}

.img_card{
  width: 90%;
  overflow: hidden;

}
.img_card > img{
  width: auto;
  height: 300px;
  display: block;
  margin: 0 auto;
}
.stamp_wrapper{
  transform: rotate(-19.36deg);
  position: absolute;
  top: 10px;
  right: calc(50vw - 188px);
  width: 122px;
  height: 122px;
  border-radius: 50%;
}
.stamp-img{
  position: absolute;
  border-radius: 50%;
  width: 100%;
}

.stamp_text {
  position: absolute;
  font-family: "Tilt Warp";
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 4.3px 4.3px rgba(0, 0, 0, 0.35);
}
.match_score{
  margin-top: -18px;
  margin-left: 10px;
  margin-bottom: -15px;
  font-size: 52px;
  span{
    padding-left: 2px;
    font-size: 20px;
  }
}
.match_word{
  text-align: center;
}
.img_title{
  padding: 0 13px;
}

.song_title{
  font-family: "Inika";
  font-weight: bold;
  font-size: 40px;
  margin-top: 27px;
  margin-bottom: 10px;

}
.song_creator{
  font-family: "Inika";
  font-weight: normal;
  font-size: 16px;

}

.explanation {
  border: solid,1px, $curator-golden;
}
