<div id="dr-evil" class="dr-evil-container">
  <%= image_tag "dr_evil.gif", class: "evil-gif", alt: "Dr. Evil requesting info" %>

  <div class="loading-text mt-3">
    "Please, share with me your favourite songs and movies..."
  </div>
</div>
