<div class="hidden" id="custom-alert">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content shadow-lg rounded-4 border-0 overflow-hidden">

      <div class="p-3"> <%= image_tag "chigur_meme.jpeg", class: "img-fluid rounded-3 w-100", alt: "Hold on friendo meme" %>
      </div>

      <div class="p-3 pt-0"> <button type="button" class="btn btn-primary w-100 rounded-pill py-2 fw-semibold" onclick="document.getElementById('custom-alert').classList.add('hidden')">
          Okay, got it.
        </button>
      </div>

    </div>
  </div>
</div>
