<div class="container">

  <div id="shelf" class="d-flex flex-column align-items-center fixed-bottom">
    <div class="d-flex justify-content-evenly w-100 mb-2 p-2">

        <div data-shelf-target="box" class="position-relative flex-fill justify-content-center content-cube-shelf"><div class="placeholder d-flex justify-content-center"></div></div>

        <div data-shelf-target="box" class="position-relative flex-fill justify-content-center content-cube-shelf"><div class="placeholder d-flex justify-content-center"></div></div>

        <div data-shelf-target="box" class="position-relative flex-fill justify-content-center content-cube-shelf"><div class="placeholder d-flex justify-content-center"></div></div>

        <div data-shelf-target="box" class="position-relative flex-fill justify-content-center content-cube-shelf"><div class="placeholder d-flex justify-content-center"></div></div>

    </div>

    <%= link_to "Curate", recommendation_path(action_type:params[:action_type]),
            class: "btn btn-light btn-lg text-center align-self-center",
            data: {shelf_target: "link" } %>
  </div>

</div>
