<div class="d-flex justify-content-evenly fixed-bottom bg-white" style="height: 100px;">

    <div data-shelf-target="box" class="flex-fill content-cube card"><i class="fa-solid fa-plus"></i></div>

    <div data-shelf-target="box" class="flex-fill content-cube card"><i class="fa-solid fa-plus"></i></div>

    <div data-shelf-target="box" class="flex-fill content-cube card"><i class="fa-solid fa-plus"></i></div>

    <div data-shelf-target="box" class="flex-fill content-cube card"><i class="fa-solid fa-plus"></i></div>

    <%# <button class="btn btn-primary rounded-circle">Curate</button> %>
    <%= link_to "Curate", recommendation_path(action_type:params[:action_type], content_ids:[1, 2, 3]),
        class: "btn btn-primary btn-lg text-center align-self-center" %>
</div>
