<div class="container">

  <div id="shelf" class="d-flex flex-column align-items-center fixed-bottom">
    <div class="d-flex justify-content-evenly w-100 mb-2 p-2">

        <div data-shelf-target="box" class="position-relative flex-fill justify-content-center content-cube-shelf">
          <div class="placeholder d-flex justify-content-center"></div>
        </div>

        <div data-shelf-target="box" class="position-relative flex-fill justify-content-center content-cube-shelf">
          <div class="placeholder d-flex justify-content-center"></div>
        </div>

        <div data-shelf-target="box" class="position-relative flex-fill justify-content-center content-cube-shelf">
          <div class="placeholder d-flex justify-content-center"></div>
        </div>

        <div data-shelf-target="box" class="position-relative flex-fill justify-content-center content-cube-shelf">
          <div class="placeholder d-flex justify-content-center">
        </div>

      </div>
    </div>
    <div class="d-flex justify-content-center gap-3">
  <%= link_to recommendation_path(action_type: "song"),
      class: "recommend-pill-btn disabled",
      data: { shelf_target: "actionButton" } do %>

      <span class="btn-label">recommend</span>
      <span class="btn-value">SONG</span>

  <% end %>

  <%= link_to recommendation_path(action_type: "movie"),
      class: "recommend-pill-btn disabled",
      data: { shelf_target: "actionButton" } do %>

      <span class="btn-label">recommend</span>
      <span class="btn-value">MOVIE</span>

  <% end %>
</div>
  </div>
</div>
