<div class="d-flex justify-content-evenly fixed-bottom bg-white border p-3" style="height: 200px;">

  <div class="content-cube card"><p class="text-center"><%= Content.first.title %></p></div>
  <div class="content-cube card"><i class="fa-solid fa-plus"></i></div>
  <div class="content-cube card"><i class="fa-solid fa-plus"></i></div>
  <div class="content-cube card"><i class="fa-solid fa-plus"></i></div>
  <button class="btn btn-primary rounded-circle">Curate</button>
</div>
