<div class="transition-page hidden" id="transition-page" data-transition-page-target="overlay">
  <%= image_tag "the-god-father-marlon-brando.gif" %>

  <div class="loading-text">
    I will make you a recommendation that you can't refuse
  </div>
</div>
