<%= render "shared/search_form" %>

<div class="container mt-4">
  <div class="row g-4">

    <% @contents.each do |content| %>
      <div class="col-4">
        <div class="content-cube card">
          <h5 class="text-center"><%= content.title %></h5>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render "shared/shelf" %>
