<div class="container home-container text-center mt-5">
<%# <%= render "shared/search_form" %>
  <div class="d-flex justify-content-center pb-5">
    <h1>THE CURA</h1>
    <img src="./app/assets/images/Curator_T2.png">
    <h1>OR</h1>
  </div>

  <div class="d-flex pt-3">
    <p class="intro">I’ll help you discover a new artwork based on your personal taste.  Let me get to know you...</p>
  </div>
  <div class="d-flex justify-content-center">
    <%= render "shared/search_form" %>
  </div>
</div>
