.transition-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  z-index: 9999;


  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}
